$primary-color: #1fbcd2;
$background-color: #fff;
$button-color: #00BDAB;
$button-icon-color: #fff;
$suppressedColor: silver;
$primary-text: #000;
$disabled-color: #ebebe4;
$danger-color: darkred;
$alert-color: #E01900;