@import 'normalize';
@import 'colors';

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-Regular.ttf");
}

$font-stack: "OpenSans";

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

header {
  background: $primary-color;
  height: 3em;
  text-align: center;
  
  search-input {
    margin-top: 0.5em;
  }
}