@import 'normalize';
@import 'colors';
@import 'dimentions';
@import './templates/todo-template';

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-Regular.ttf");
}

$font-stack: "OpenSans";

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

header {
  background: $primary-color;
  height: $header-height;
  display: flex;
  justify-content: center;
    
  search-input {
    margin-top: $header-offset-margin;
    height: $header-item-height;
  }
  
  .toolbar {
    margin-left: 1em;
    margin-top: $header-offset-margin;
    height: $header-item-height;
    }
}

.inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25); 
 
    div
    {
      margin-right: 1em;
      
      label {
        display: block;
      }       
    } 
    
    button {
      margin-top: 1.5em;
    }
}

button {
  background: $button-color;
  height: 2.5em;
  width: 2.5em;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all .1s ease-in-out;
      
  svg {
    fill: $button-icon-color;        
  }
}

button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);   
  transform: scale(1.1); 
}

button:focus {
  outline: none;
}

input, input:focus {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}
