@import './../../../sass/colors';
@import './../../../sass/dimentions';

search-input {
    display: inline-block;
    width: 50%;
    background: white;
    border-radius: $border-radius;
        
    .wrapper {
        margin-left: 0.5em;
        margin-right: 1.5em;
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        
        svg {
            height: 100%;
            fill: $primary-color;
        }
        
        input {
            flex: 1;  
            height: 80%;    
            margin-left: 0.5em;  
        }
        
        input, input:focus {
            border-top: none;
            border-right: none;
            border-left: none;
            outline: none;
        }
    }         
}
