@import './../../../sass/colors.scss';

.checkboxImage {
    width: 1.25rem;
    height: 1.25rem;   
    fill: $button-color;
}

.toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden; 
}

.toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    
    width: 1.25rem;
    height: 1.25rem;   
}


#checked-off-on, #checkedon {
    visibility: hidden;
}